@model PasswordBindingModel
<div class="ui-box ui-box-bordered">
    <div class="ui-box-header">
        <h2 class="ui-font-sm">@IdentityAppResources.Account_PasswordSettings</h2>
    </div>
    <div class="ui-box-group">
        @using (Html.BeginForm("settings", "account"))
        {
            @Html.AntiForgeryToken()
            <table class="ui-table">
                <colgroup>
                    <col style="width: 125px" />
                    <col />
                </colgroup>
                <tbody>
                    <tr>
                        <td>@Html.LabelFor(m => m.OldPassword)</td>
                        <td>@Html.PasswordFor(m => m.OldPassword)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.NewPassword)</td>
                        <td>@Html.PasswordFor(m => m.NewPassword)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
                        <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
                    </tr>
                </tbody>
            </table>
            <div class="ui-box-group">
                @Html.ValidationSummary()
            </div>
            <div class="ui-box-group ui-text-center">
                <button class="ui-btn ui-btn-primary" type="submit">
                    <span>@IdentityAppResources.Account_ChangePassword</span>
                </button>
            </div>
        }
    </div>
</div>
