@model PasswordBindingModel
<div class="ui-box ui-box-bordered">
    <div class="ui-box-group">
        <h2>@IdentityAppResources.Account_PasswordSettings</h2>
    </div>
    <div class="ui-box-group">
        @IdentityAppResources.Account_SetPasswordDescription
    </div>
    <div class="ui-box-group">
        @using (Html.BeginForm("settings", "account"))
        {
            @Html.AntiForgeryToken()
            <table class="ui-table">
                <colgroup>
                    <col style="width: 150px;" />
                    <col />
                </colgroup>
                <tbody>
                    <tr>
                        <td>@Html.LabelFor(m => m.NewPassword)</td>
                        <td>@Html.PasswordFor(m => m.NewPassword)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
                        <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="ui-text-right">
                            <button class="ui-btn ui-btn-primary" type="submit">
                                <span>@IdentityAppResources.Account_SetPassword</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            @Html.ValidationSummary()
        }
    </div>
</div>
